{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACERVO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="imgs/tree-solid.svg" type="image/x-icon">
    
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/table.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/menu.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/acervo.css' %}">

  </head>
  <body>
{% include 'base.html' %}


























    <main class="container">
      <div class="d-flex align-middle mt-5">
        <img src="imgs/folha.svg" alt="Icone parceiros"class="img-fluid">
        <h2 class="title ms-3 m-0 fs-1">NOSSO ACERVO</h2>
      </div>
      <div class="mt-3">
        <p class="fs-3 text-succsess text-justify">Os acervos etnobotânicos são coleções vivas que preservam e compartilham o conhecimento ancestral sobre o uso das plantas por diferentes culturas, especialmente as indígenas e afro-brasileiras. Esses acervos vão além do simples cultivo de espécies; eles representam a conexão profunda entre as comunidades e a natureza, mostrando como as plantas são utilizadas para alimentação, medicina, rituais espirituais, e outras práticas culturais.</p>
      </div>




      <div class="d-flex align-middle mt-5">
        <h2 class="title m-0 fs-2 ms-3 text-succsess fw-bold">ALUMÃ</h2>
      </div>
      <div class="container mt-4 d-flex justify-content-center">
        <div class="row align-items-center card-custom">
          <!-- Coluna da imagem -->
          <div class="col-md-6">
              <img src="imgs/plantas/aluma.jpg" alt="Planta" class="img-fluid w-100">
          </div>
          <!-- Coluna do texto -->
          <div class="col-md-6 mt-3">
            <h5><strong>Nome científico:</strong> Vernonia</h5>
            <p><strong>Família:</strong> asteraceae</p>
            <p><strong>Origem:</strong> áfrica tropical</p>
            <a href="#" class="btn-saiba-mais">
              Saiba mais
              <!-- Ícone de seta -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.293 1.5a1 1 0 0 1 1.414 0l3.5 3.5a1 1 0 0 1 0 1.414l-3.5 3.5a1 1 0 0 1-1.414-1.414L12.086 6H1.5a1 1 0 0 1 0-2h10.586l-1.793-1.793a1 1 0 0 1 0-1.414z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>



      <div class="d-flex align-middle mt-5">
        <h2 class="title m-0 fs-2 ms-3 text-succsess fw-bold">AMORA</h2>
      </div>
      <div class="container mt-4 d-flex justify-content-center">
        <div class="row align-items-center card-custom">
          <!-- Coluna da imagem -->
          <div class="col-md-6">
              <img src="imgs/plantas/amora.jpg" alt="Planta" class="img-fluid w-100">
          </div>
          <!-- Coluna do texto -->
          <div class="col-md-6 mt-3">
            <h5><strong>Nome científico:</strong> Morus nigra</h5>
            <p><strong>Família:</strong> Moraceae</p>
            <p><strong>Origem:</strong> Ásia</p>
            <a href="#" class="btn-saiba-mais">
              Saiba mais
              <!-- Ícone de seta -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.293 1.5a1 1 0 0 1 1.414 0l3.5 3.5a1 1 0 0 1 0 1.414l-3.5 3.5a1 1 0 0 1-1.414-1.414L12.086 6H1.5a1 1 0 0 1 0-2h10.586l-1.793-1.793a1 1 0 0 1 0-1.414z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>



      <div class="d-flex align-middle mt-5">
        <h2 class="title m-0 fs-2 ms-3 text-succsess fw-bold">ARAÇÁ</h2>
      </div>
      <div class="container mt-4 d-flex justify-content-center">
        <div class="row align-items-center card-custom">
          <!-- Coluna da imagem -->
          <div class="col-md-6">
              <img src="imgs/plantas/araca.jpg" alt="Planta" class="img-fluid w-100">
          </div>
          <!-- Coluna do texto -->
          <div class="col-md-6 mt-3">
            <h5><strong>Nome científico:</strong> Psidium guineense Swart</h5>
            <p><strong>Família:</strong> Myrtaceae</p>
            <p><strong>Origem:</strong> Brasil</p>
            <a href="#" class="btn-saiba-mais">
              Saiba mais
              <!-- Ícone de seta -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.293 1.5a1 1 0 0 1 1.414 0l3.5 3.5a1 1 0 0 1 0 1.414l-3.5 3.5a1 1 0 0 1-1.414-1.414L12.086 6H1.5a1 1 0 0 1 0-2h10.586l-1.793-1.793a1 1 0 0 1 0-1.414z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>


      <div class="d-flex align-middle mt-5">
        <h2 class="title m-0 fs-2 ms-3 text-succsess fw-bold">ABACAXI</h2>
      </div>
      <div class="container mt-4 d-flex justify-content-center">
        <div class="row align-items-center card-custom">
          <!-- Coluna da imagem -->
          <div class="col-md-6">
              <img src="imgs/plantas/abacaxi.jpg" alt="Planta" class="img-fluid w-100">
          </div>
          <!-- Coluna do texto -->
          <div class="col-md-6 mt-3">
            <h5><strong>Nome científico:</strong> Ananas comosus</h5>
            <p><strong>Família:</strong> Bromeliaceae</p>
            <p><strong>Origem:</strong> América do Sul</p>
            <a href="#" class="btn-saiba-mais">
              Saiba mais
              <!-- Ícone de seta -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.293 1.5a1 1 0 0 1 1.414 0l3.5 3.5a1 1 0 0 1 0 1.414l-3.5 3.5a1 1 0 0 1-1.414-1.414L12.086 6H1.5a1 1 0 0 1 0-2h10.586l-1.793-1.793a1 1 0 0 1 0-1.414z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>


      <div class="d-flex align-middle mt-5">
        <h2 class="title m-0 fs-2 ms-3 text-succsess fw-bold">ARECA BAMBU</h2>
      </div>
      <div class="container mt-4 d-flex justify-content-center">
        <div class="row align-items-center card-custom">
          <!-- Coluna da imagem -->
          <div class="col-md-6">
              <img src="imgs/plantas/bambu.jpg" alt="Planta" class="img-fluid w-100">
          </div>
          <!-- Coluna do texto -->
          <div class="col-md-6 mt-3">
            <h5><strong>Nome científico:</strong> Dypsis lutescens</h5>
            <p><strong>Família:</strong> Arecaceae</p>
            <p><strong>Origem:</strong> África Tropical - Madagascar,  África</p>
            <a href="#" class="btn-saiba-mais">
              Saiba mais
              <!-- Ícone de seta -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.293 1.5a1 1 0 0 1 1.414 0l3.5 3.5a1 1 0 0 1 0 1.414l-3.5 3.5a1 1 0 0 1-1.414-1.414L12.086 6H1.5a1 1 0 0 1 0-2h10.586l-1.793-1.793a1 1 0 0 1 0-1.414z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="table-container">
        <h2 class="text-center text-success mb-4">Tabela de Espécies Etnobotânicas</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nome Popular</th>
              <th>Nome Científico</th>
              <th>Uso Tradicional</th>
              <th>Localização</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jurema</td>
              <td>Mimosa tenuiflora</td>
              <td>Ritualístico e Medicinal</td>
              <td>Espaço Jardim</td>
              <td><button class="btn-action">Ver Detalhes</button></td>
            </tr>
            <tr>
              <td>Babosa</td>
              <td>Aloe vera</td>
              <td>Tratamento de Pele</td>
              <td>Jardim Sensorial</td>
              <td><button class="btn-action">Ver Detalhes</button></td>
            </tr>
            <tr>
              <td>Guaraná</td>
              <td>Paullinia cupana</td>
              <td>Energético</td>
              <td>Espaço Coqueiral</td>
              <td><button class="btn-action">Ver Detalhes</button></td>
            </tr>
            <tr>
              <td>Ipê-Amarelo</td>
              <td>Handroanthus albus</td>
              <td>Ornamental</td>
              <td>Circulo da Paz</td>
              <td><button class="btn-action">Ver Detalhes</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <a href="#" class="text-decoration-none">
        <div class="voltar-inicio d-flex justify-content-center mt-5 mb-5 ms-3 me-3 row d-flex justify-content-center">
          <img src="imgs/voltar-icon-left.svg" alt="Planta" class="img-fluid col-3 col-md-2">
          <div class="d-flex justify-content-center row col-6 col-md-3">
            <p class="voltar-text d-flex text-center justify-content-center align-items-center col mb-0 fs-md-1 ">Ir para o ínicio</p>
          </div>
          <img src="imgs/voltar-icon-right.svg" alt="Planta" class="img-fluid col-3 col-md-2">
        </div>
      </a>

    </main>































    <!-- Newsletter acima do rodapé -->
    <div class="newsletter-container container mt-5">
      <div class="container">
          <div class="row text-center">
              <div class="col-12 mb-3">
                  <p class="mb-0">Assine nossa newsletter e receba as últimas novidades da praça da paz entre os povos</p>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                  <form class="row">
                      <div class="col-7 p-0">
                          <input type="email" class="form-control" placeholder="Digite seu e-mail" required>
                      </div>
                      <div class="col-5 p-0">
                          <button type="submit" class="btn btn-custom w-100">Inscrever-se</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
      <!-- Rodapé -->
      <footer class="footer-container">
        <div class="container">
            <div class="row text-center text-md-start">
                <!-- Logo -->
                <div class="col-md-3 mb-4 mb-md-0">
                      <div class="footer-logo">
                        <img src="imgs/main-logo.png" alt="" class="img-footer img-fluid">
                      </div>
                </div>
                <!-- Links institucionais -->
                <div class="col-md-3 mb-4 mb-md-0 footer-links">
                    <h5>INSTITUCIONAL</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Normas e Condutas</a></li>
                        <li><a href="#">Parceiros</a></li>
                        <li><a href="#">Projetos</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <!-- Contatos -->
                <div class="col-md-3 mb-4 mb-md-0 footer-links">
                    <h5>CONTATOS</h5>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-telephone-fill me-2"></i>(84) 4005-4114</li>
                        <li><i class="bi bi-envelope-fill me-2"></i><a href="mailto:diac.cang@ifrn.edu.br">diac.cang@ifrn.edu.br</a></li>
                        <li><i class="bi bi-link-45deg me-2"></i><a href="http://portal.ifrn.edu.br/campus/canguaretama" target="_blank">portal.ifrn.edu.br</a></li>
                        <li><i class="bi bi-whatsapp me-2"></i>(84) 00000-0000</li>
                    </ul>
                </div>
                <!-- Redes sociais -->
                <div class="col-md-3 text-center text-md-start">
                    <h5>Nos siga nas redes sociais</h5>
                    <div class="social-icons">
                        <a href="#" class="bi bi-facebook"></a>
                        <a href="#" class="bi bi-youtube"></a>
                        <a href="#" class="bi bi-instagram"></a>
                        <a href="#" class="bi bi-linkedin"></a>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="row mt-4">
                <div class="col-12 text-center copyright">
                    <p>© Copyright 2024 Praça da Paz Entre os Povos. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>