{% extends 'publica/base.html' %}
{% load static %}
{% block conteudo %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A PRAÇA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/menu.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style-sobre.css' %}">
    <link rel="shortcut icon" href="imgs/tree-solid.svg" type="image/x-icon">
  </head>
  <body>

    <main class="container">

      <div>
          <h2 class="fs-1 mt-4 mt-sm-5 mb-3">BEM VINDO(A)!</h2>
          <p class="fs-2 text-succsess text-justify">A Praça da Paz entre os Povos é um lugar onde natureza, cultura e comunidade se encontram em perfeita harmonia.</p>
      </div>
      <div class="mt-5">
          <h2 class="mt-4 mt-sm-4 mb-3">A praça da paz entre os povos</h2>
          <p class="fs-3 text-succsess text-justify">A Praça da Paz entre os Povos, no Campus Canguaretama do IFRN, é um jardim composto por coleções de plantas vivas, em sua maioria, relacionadas a diversos usos culturais afro-brasileiros e indígenas. Compreende uma área significativa do campus que vai além do espaço no qual atualmente visualizamos banquinhos e mesa em alvenaria com mosaicos de cerâmica</p>
          <img src="imgs/img-sobre.jpg" alt="Ícones links de acesso rápido" class="mt-3 w-100 img-fluid img-sobre">
      </div>
      <div class="mt-5">
          <h2 class="mt-4 mt-sm-4 mb-3">Participantes deste projeto</h2>
          <p class="fs-3 text-succsess text-justify">A construção da Praça da Paz entre os Povos conta com a participação de servidores (docentes, técnico-administrativos e terceirizados), alunos do Curso de Licenciatura em Educação do Campo (LEdoC) e do  Curso Superior de Tecnologia em Gestão de Turismo, e de membros das comunidades indígenas e quilombolas próximas ao Campus Canguaretama. Moradores do município de Canguaretama, incluindo o Acampamento José Martí, também têm contribuído com a doação de mudas.</p>
      </div>
      <div class="mt-5">
          <h2 class="mt-4 mt-sm-4 mb-3">Curiosidades sobre as praça</h2>
          <p class="fs-3 text-succsess text-justify">a Praça foi rebatizada de “Praça da Macumba”. Qual seria a origem desse apelido? Uma primeira suposição seria a existência de uma cápsula do tempo depositada no ano de 2016 pela primeira turma do integrado em eventos, no entorno dos referidos banquinhos e muito semelhante ao formato das lápides encontradas em cemitérios, fato que aflora a imaginação sobre “o que” ou “quem” estaria ali “sepultado”. Uma segunda possibilidade para o este apelido "Praça da Macumba" está ligada às conotações negativas historicamente associadas às culturas indígenas e afro-brasileiras.</p>
      </div>

      <a href="#" class="text-decoration-none">
        <div class="voltar-inicio d-flex justify-content-center mt-5 mb-5 ms-3 me-3 row d-flex justify-content-center">
          <img src="imgs/voltar-icon-left.svg" alt="Planta" class="img-fluid col-3 col-md-2">
          <div class="d-flex justify-content-center row col-6 col-md-3">
            <p class="voltar-text d-flex text-center justify-content-center align-items-center col mb-0 fs-md-1 ">Ir para o ínicio</p>
          </div>
          <img src="imgs/voltar-icon-right.svg" alt="Planta" class="img-fluid col-3 col-md-2">
        </div>
      </a>

    </main>

































    <!-- Newsletter acima do rodapé -->
    <div class="newsletter-container container mt-5">
      <div class="container">
          <div class="row text-center">
              <div class="col-12 mb-3">
                  <p class="mb-0">Assine nossa newsletter e receba as últimas novidades da praça da paz entre os povos</p>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                  <form class="row">
                      <div class="col-7 p-0">
                          <input type="email" class="form-control" placeholder="Digite seu e-mail" required>
                      </div>
                      <div class="col-5 p-0">
                          <button type="submit" class="btn btn-custom w-100">Inscrever-se</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
    <!-- Rodapé -->
    <footer class="footer-container">
      <div class="container">
          <div class="row text-center text-md-start">
              <!-- Logo -->
              <div class="col-md-3 mb-4 mb-md-0">
                    <div class="footer-logo">
                      <img src="imgs/main-logo.png" alt="" class="img-footer img-fluid">
                    </div>
              </div>
              <!-- Links institucionais -->
              <div class="col-md-3 mb-4 mb-md-0 footer-links">
                  <h5>INSTITUCIONAL</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Quem somos</a></li>
                      <li><a href="#">Normas e Condutas</a></li>
                      <li><a href="#">Parceiros</a></li>
                      <li><a href="#">Projetos</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>
              <!-- Contatos -->
              <div class="col-md-3 mb-4 mb-md-0 footer-links">
                  <h5>CONTATOS</h5>
                  <ul class="list-unstyled">
                      <li><i class="bi bi-telephone-fill me-2"></i>(84) 4005-4114</li>
                      <li><i class="bi bi-envelope-fill me-2"></i><a href="mailto:diac.cang@ifrn.edu.br">diac.cang@ifrn.edu.br</a></li>
                      <li><i class="bi bi-link-45deg me-2"></i><a href="http://portal.ifrn.edu.br/campus/canguaretama" target="_blank">portal.ifrn.edu.br</a></li>
                      <li><i class="bi bi-whatsapp me-2"></i>(84) 00000-0000</li>
                  </ul>
              </div>
              <!-- Redes sociais -->
              <div class="col-md-3 text-center text-md-start">
                  <h5>Nos siga nas redes sociais</h5>
                  <div class="social-icons">
                      <a href="#" class="bi bi-facebook"></a>
                      <a href="#" class="bi bi-youtube"></a>
                      <a href="#" class="bi bi-instagram"></a>
                      <a href="#" class="bi bi-linkedin"></a>
                  </div>
              </div>
          </div>
          <!-- Copyright -->
          <div class="row mt-4">
              <div class="col-12 text-center copyright">
                  <p>© Copyright 2024 Praça da Paz Entre os Povos. Todos os direitos reservados.</p>
              </div>
          </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}