body {
    background-color: #ACC27C;
}

.card {
    border: 2px solid black;
    border-radius: 15px;
    background-color: #759C30;
}

.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #123800;
    font-weight: bold;
}

.btn-saiba-mais {
    background-color: #ffffff;
    color: #245724;
    border: 2px solid #245724;
    border-radius: 25px;
    font-weight: bold;
}

.btn-saiba-mais:hover {
    background-color: #245724;
    color: #ffffff;
}