
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');








body{
    background-color: #91B05D;
    margin-bottom: 500px;
}


.nav, .div-form-mobile{
    background-color: #d9e4c7;
}

.nav-size{
    height: 10rem;
}

.navbar-brand{
    align-items: center;
    display: flex;
}

.icon{
    width: 45%;
}

a{

}

ul{
    margin-right: 0;
}

.nav-btns{
    width: 0px;
}

.pesquisa{
    width: 50%;
    background-color: #548404;
}

.form, .form-mobile input::placeholder{
    
    color: #EBE7E4;
}

.form, .form-mobile input:focus{

    color: white;
}


.icon-nav{
    width: 20px;
}

.icon-navb{
    width: 20px;
    height: 20px;
}

.icon-navf{
    width: 60px;
}

.form {
    display: flex;
}

.navbar-links{
    background-color: #548404;
}

.nav-item, .nav-link{
    color: #F4F4DC;
}




@media (min-width: 1199px){
    .icon{
        width: 25%;
    }
}


@media (max-width: 991px) {
    .navbar-links{
        display: none;
    }
    .botao{
        margin-right: 20px;
    }
    .nav-size{
        height: 7rem;
    }
    .espaco{
        width: 160px;
        height: 200px;
        border-radius: 0;
        background-color: rgba(9, 255, 0, 0);
        margin: 10px;
    
        h3{
            font-size: 1.4em;
        }
    }
    .icon{
        width: 35%;
    }

    .form{
        display: none;
    }

}

.pt1{
    img{
        border-radius: 20px;
        box-shadow: 12px 15px 19px -12px #084005
    }
}

h2{
        font-family: Poppins;
        font-weight: 700;
        color: #084005;
    }

.pt2{
    background-color: rgba(0, 0, 255, 0);
    
    p{
        font-size: 1.3rem;
        text-align: justify;
    }
}

.horario{
    p{
        color: #084005;
        margin-bottom: 2px;
        font-size: 1.1rem;
    }
}

.espaco{
    width: 200px;
    height: 240px;
    background-color: rgba(9, 255, 0, 0);
    margin: 25px 10px 10px 10px;
    border-radius: 20px 0p 20px 0px;

    h3{
        font-size: 1.4em;
    }
}

.img-espaco{
    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 15px ;
    margin-bottom: 10px;
    border-radius: 40px 10px 40px 10px;
}

.mais-info{
    background-color: #ACC27C;
}