 <!-- Rodapé -->
    <footer class="footer-container">
      <div class="container">
          <div class="row text-center text-md-start">
              <!-- Logo -->
              <div class="col-md-3 mb-4 mb-md-0">
                    <div class="footer-logo">
                      <img src="imgs/main-logo.png" alt="" class="img-footer img-fluid">
                    </div>
              </div>
              <!-- Links institucionais -->
              <div class="col-md-3 mb-4 mb-md-0 footer-links">
                  <h5>INSTITUCIONAL</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Quem somos</a></li>
                      <li><a href="#">Normas e Condutas</a></li>
                      <li><a href="#">Parceiros</a></li>
                      <li><a href="#">Projetos</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>
              <!-- Contatos -->
              <div class="col-md-3 mb-4 mb-md-0 footer-links">
                  <h5>CONTATOS</h5>
                  <ul class="list-unstyled">
                      <li><i class="bi bi-telephone-fill me-2"></i>(84) 4005-4114</li>
                      <li><i class="bi bi-envelope-fill me-2"></i><a href="mailto:diac.cang@ifrn.edu.br">diac.cang@ifrn.edu.br</a></li>
                      <li><i class="bi bi-link-45deg me-2"></i><a href="http://portal.ifrn.edu.br/campus/canguaretama" target="_blank">portal.ifrn.edu.br</a></li>
                      <li><i class="bi bi-whatsapp me-2"></i>(84) 00000-0000</li>
                  </ul>
              </div>
              <!-- Redes sociais -->
              <div class="col-md-3 text-center text-md-start">
                  <h5>Nos siga nas redes sociais</h5>
                  <div class="social-icons">
                      <a href="#" class="bi bi-facebook"></a>
                      <a href="#" class="bi bi-youtube"></a>
                      <a href="#" class="bi bi-instagram"></a>
                      <a href="#" class="bi bi-linkedin"></a>
                  </div>
              </div>
          </div>
          <!-- Copyright -->
          <div class="row mt-4">
              <div class="col-12 text-center copyright">
                  <p>© Copyright 2024 Praça da Paz Entre os Povos. Todos os direitos reservados.</p>
              </div>
          </div>
      </div>
    </footer>